<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
            <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
            </encoder>
    </appender>

    <!-- A standard RollingFileAppender  -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${log.filename}</file>

      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
          <Pattern>%d{yyyy-MM-dd HH:mm:ss} %mdc [%thread] %level %logger{35}:%line - %msg%n</Pattern>
      </encoder>

      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
          <FileNamePattern>${log.filename}.%i.zip</FileNamePattern>
          <MinIndex>1</MinIndex>
          <MaxIndex>10</MaxIndex>
      </rollingPolicy>

      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
          <MaxFileSize>50MB</MaxFileSize>
      </triggeringPolicy>

    </appender>

    <appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">

        <!-- This is MDC value -->
        <!-- We will assign a value to 'monitorName' via Java code -->
        <discriminator>
            <key>monitorName</key>
            <defaultValue>wanmonitor</defaultValue>
        </discriminator>

        <sift>
            <!-- A standard RollingFileAppender, the log file is based on 'monitorName' at runtime  -->
            <appender name="FILE-${monitorName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${monitorName}.log</file>

                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <Pattern>
                        %d{yyyy-MM-dd HH:mm:ss} %mdc [%thread] %level %logger{35} - %msg%n
                    </Pattern>
                </encoder>

                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <FileNamePattern>${monitorName}.%i.log.zip
                    </FileNamePattern>
                    <MinIndex>1</MinIndex>
                    <MaxIndex>10</MaxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>
            </appender>
        </sift>
    </appender>

    <root level="debug">
		<appender-ref ref="STDOUT" />
		<!-- appender-ref ref="FILE" / -->
        <appender-ref ref="FILE-THREAD" />
	</root>
</configuration>
